<h1><%= @user.name %>'s Toy Box!</h1>

<h2>Toys:</h2>
<% @user.toys.each do |toy| %>
    <br><a href="/toys/<%= toy.id %>"><h3><%= toy.name %></h3></a><br>
    <p>Category: <%= toy.category %></p><br>
<% end %>

<br><a href="/toys/new">Add a toy to your Box!</a><br><br><br>

<a href="/users/<%= @user.slug %>/edit">Edit your display name.</a><br>
<a href="/logout">Logout</a>